:root {
  --primary-color: #ffffff;
  /* --secondary-color: #e4e9f7; */
  --secondary-color: #f6f8fa;
  --third-color: #f6f6f6;
  --box-shadow-color: #D9D9D9;
  --text-color:#647589;
  --disabled-color:#f6f6f6;
  --blue-color:#49b2ee;
  --pink-color:#f444cb;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-color); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--disabled-color); 
  border-radius:5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}