
.tss-tlx3x1-MUIDataTableToolbar-root{
  background-color: var(--secondary-color);  
}
.tss-1832qqn-MUIDataTableHeadRow-root th{
    background-color: var(--secondary-color);  
    color: var(--text-color)
}
.tss-qbo1l6-MUIDataTableToolbar-actions button , .mui-datatables-1x51dt5-MuiInputBase-input-MuiInput-input {
color: var(--text-color);
}
.mui-datatables-l4u8b9-MuiInputBase-root-MuiInput-root:after ,.mui-datatables-l4u8b9-MuiInputBase-root-MuiInput-root:before {
    border-bottom-color: var(--text-color) !important;
}
.MuiSvgIcon-root {
    color: var(--text-color);
}
.tss-1h5wt30-MUIDataTableSearch-searchIcon{
    color: var(--text-color) !important;
}

.MuiPaper-root ,.MuiPaper-elevation ,.MuiPaper-rounded ,.MuiPaper-elevation4 {
    background-color: var(--primary-color) !important;
}
.tss-iwylj0-MUIDataTableBodyCell-responsiveStackedSmallParent {
    color: var(--text-color);
}
.tss-1dqj55d-MUIDataTableToolbarSelect-root{
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
}
.mui-datatables-1q1u3t4-MuiTableRow-root{
    background-color: var(--primary-color);
}
.MuiTablePagination-root  {
    color: var(--text-color);
}
.tss-bd2lw8-MUIDataTableHeadCell-sortActive{
    color: var(--text-color) !important;
}
.MuiTableSortLabel-icon{
    color: var(--text-color) !important;
}
.tss-9562fz-MUIDataTableViewCol-root{
    background-color: var(--secondary-color) !important;
}
.tss-1nmvwsz-MUIDataTableViewCol-title,.mui-datatables-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label{
    color: var(--text-color) !important;
}
.tss-1cdcmys-MUIDataTable-responsiveBase{
    overflow-wrap: break-word;
}
.tss-1fz4yw6-MUIDataTableSelectCell-fixedLeft{
    position: unset !important;
}
.MuiTypography-root {
    color: var(--text-color) !important;
}
.MuiButtonBase-root,.MuiInputBase-root,.MuiFormLabel-root{
    color: var(--text-color) !important;
}
.tss-ynxllk-MUIDataTableFilter-root,.MuiTableCell-footer{
    background-color: var(--secondary-color) !important;
}
.MuiTableCell-root {
    border-color:var(--disabled-color);
}
.MuiTablePagination-selectLabel,.MuiTablePagination-displayedRows{
    margin-bottom: 5px !important;
}
.MuiTableRow-root,.tss-1cibt4j-MUIDataTableBodyRow-root-MUIDataTableBody-lastStackedCell{
    border-color: var(--text-color) !important;
}